body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

input, textarea, button {
  width: 100%;
  margin-bottom: 6px;
}

li {
  border: 1px solid #333;
  padding: 6px;
  margin-bottom: 6px;
}
